<div class="row">
    <div class="col bg-dark p-4 rounded">
        <h3 class="text-white">Historial de transacciones</h3>
        <div class="table-responsive">
        <table class="table table-dark table-hover">
            <tbody>
            <ng-container >
                <tr >
                    <th scope="row">{{ logo }}</th>
                    <td>
                        <div>
                            <p class="m-0">Moneda destino: {{ destino }}</p>
                            <p class="m-0 fst-italic">{{ dia }}</p>
                        </div>
                    </td>
                    <td>{{ cantidad }}</td>
                </tr>
            </ng-container>
            </tbody>
            </table>
            <div>
                
                <button >Ver Todos ></button>
            </div>
        </div>
    </div>
</div>
