<section class="bg-dark p-4 rounded">
  <div class="row">
    <div class="col">
      <h3 class="text-white">Historial de transacciones</h3>
      <div>
        <button
          *ngIf="!transaccionesTodas"
          class="btn btn-primary my-2"
          (click)="ultimasTransacciones(this.userId)"
        >
          Ver Ultimas Transacciones >
        </button>
        <button
          *ngIf="transaccionesTodas"
          class="btn btn-primary my-2"
          (click)="todasTransacciones(this.userId)"
        >
          Ver Todas >
        </button>
      </div>
      <div class="table-responsive">
        <table class="table table-dark table-hover">
          <tbody>
            <ng-container>
              <tr *ngFor="let item of dataTransacciones">
                <th scope="row">
                  <img
                    src="{{ item.imgCuenta }}"
                    width="60px"
                    height="60px"
                    alt="moneda {{ item.cuenta }}"
                  />
                </th>
                <td>
                  <div>
                    <p class="m-0" [ngClass]="item.classRed ? 'text-danger2' : 'text-success2'">
                      {{ item.codigoMovimientoText }}{{ item.cuenta }}
                    </p>
                    <p class="m-0 fst-italic">{{ item.fecha }}</p>
                  </div>
                </td>
                <td [ngClass]="item.classRed ? 'text-danger2' : 'text-success2'">
                  {{ item.signo }}{{ item.booleanARS ? (item.monto | ARS) : (item.monto | BTC)   }}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
