<section class="p-5 page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nuestro Equipo</h2>
        </div>
        <div class="row">
            <div *ngFor="let item of team"  class="col-md-4">
                <div >
                    
                    
                    <img class="rounded-circle img-fluid" [src]="item.imagen" alt="..." />
                    <h4>{{item.name}}</h4>
                    <p class="text-muted">{{item.perfil}}</p>
                    
                </div>
            </div>
            <div style="min-height: 20vh"></div>
        </div>
    </div>
</section>


