<div class="container mt-3 mb-5" style="width: 40%;">
    <form>
        <div class="container mb-4"><h1>Recuperar Contraseña</h1></div>
        <!-- Email input -->
        <div class="form-outline mb-4">
        <p>
            Introduce tu correo electrónico, te enviaremos un link para crear una nueva contraseña
        </p>
          <input type="email" id="email" class="form-control" required/>
          <label class="email-label" for="email">Dirección email</label>
        </div>
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block">Enviar link</button>
      </form>
</div>

