<section class="bg-dark p-4 rounded mb-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="text-white">Portafolio de criptomonedas</h3>
        <div class="table-responsive">
          <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th scope="col">Moneda</th>
                <th scope="col">Monto</th>
              </tr>
            </thead>
            <tbody>
              
                <tr>
                  <th scope="row">
                    <img
                      src="{{ billetera.ars_img}}"
                      width="60px"
                      height="60px"
                      alt="ARS"
                    />
                  </th>
                  <td>
                    <div>
                      <p class="m-0">{{ billetera.ars }}</p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <img
                      src="{{ billetera.btc_img}}"
                      width="60px"
                      height="60px"
                      alt="BTC"
                    />
                  </th>
                  <td>
                    <div>
                      <p class="m-0">{{ billetera.btc }}</p>
                    </div>
                  </td>
                </tr>
              
            </tbody>
          </table>
        </div>
        <div>
          <button
            class="btn btn-primary m-2"
            (click)="miPortafolio(userId)">
            Ver mi Billetera>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

